@tailwind base;
@tailwind components;
@tailwind utilities;

.mouse {
    width: 26px;
    height: 40px;
    border-radius: 15px;
    border: 2px solid black;
    position: relative;
    overflow: hidden;
  }
  
  .mouse .roll {
    position: absolute;
    top: 8px;
    left: 50%;
    width: 4px;
    margin-left: -2px;
    height: 4px;
    border-radius: 4px;
    background: black;
    -webkit-animation: mouseScroll 0.8s cubic-bezier(0.7, 0, 0.3, 1) infinite alternate;
    animation: mouseScroll 0.8s cubic-bezier(0.7, 0, 0.3, 1) infinite alternate;
    z-index: 2;
  }
  
  .mouse .rollshadow {
    position: absolute;
    top: 8px;
    left: 50%;
    width: 4px;
    margin-left: -2px;
    height: 4px;
    background: #aaa;
    border-radius: 4px;
    -webkit-animation: mouseScroll 0.8s cubic-bezier(0.7, 0, 0.3, 1) infinite alternate;
    animation: mouseScroll 0.8s cubic-bezier(0.7, 0, 0.3, 1) infinite alternate;
    animation-delay: 0s;
    -webkit-animation-delay: 80ms;
    animation-delay: 80ms;
    z-index: 1;
  }
  
  /* Dark mode styles */
  .dark .mouse {
    border-color: white;
  }
  
  .dark .mouse .roll {
    background: white;
  }
  
  .dark .mouse .rollshadow {
    background: white; /* Adjust shadow color for dark mode */
  }
  
  @-webkit-keyframes mouseScroll {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(14px);
      transform: translateY(14px);
    }
  }
  
  @keyframes mouseScroll {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(14px);
      transform: translateY(14px);
    }
  }
  